@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    background-color: #fcfcfc;
    font-family: 'Open Sans', sans-serif;
}

a, a:visited {
    color: #222;
}

#main {
    margin: 0.297% auto 0.297% auto; /* 3/1010px */
    display: table;
    width: 95%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #cccccc;
}

#header {
    margin: 0.198% auto 0.99% auto;    /* 2/1010px and 10/1010px */
    width: 90%;
    text-align: center;
}

#udm_logo {
    float: left;
    width: 15%;   /* 153/1010px */
    min-width: 80.472px;
    max-width: 136.367px;
}

img.udm_logo {
    float: left;
    width: 100%;
}

#my_name {
    width: 15%;
    min-width: 134.35px;
    margin: 1.8% auto;
    display: inline-block;
    font-size: 90%;
    font-style: italic;
}

#right_header {
    float: right;
    width: 18%;
    margin-top: 0.99%;   /* 10/1010px */
}

#diro_logo {
    float: left;
    width: 70%;
    min-width: 65.178px;
    max-width: 110.45px;
    margin-top: 1.983%;   /* 17/1010px */
}

img.diro_logo {
    width: 100%;
}

#diro_logo_right {
    float: right;
    margin-top: 1.683%;   /* 17/1010px */
    text-align: right;
    width: 12.15%;
    min-width: 65.178px;
}

#lang-change {
    float: right;
    min-width: 40px;
    max-width: 40px;
    margin-top: -.99%;
}

a.lang-change {
    float: right;
    padding-top: 8px;
    width: 100%;
    height: 32px;
    color: #ffffff;
    background-color: #282C2F;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 10000px;
}

#title {
    float: left;
    text-align: center;
    margin: 0.99% auto;    /* 10/1010px */
    width: 100%;
    font-size: 130%;
    font-weight: bold;
}

#nav_button {
    display: none;
}

nav {
    background-color: #fff;
    border-bottom: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 0.198% 0.198% -0.099% rgba(0, 0, 0, 0.055);    /* 2/1010px 2/1010px -1/1010px*/
    display: block;
    margin: 0 auto;
    overflow: hidden;
    width: 90%;
}

nav ul {
    margin: 0 auto;
    padding: 0;
    display: table;
    border-spacing: 0.396%;    /* 4/1010px */
}

nav ul li {
    list-style-type: none;
    display: table-cell;
    width: 5%;
    padding-top: 1.98%;    /* 20/1010px */
    padding-bottom: 1.98%;    /* 20/1010px */
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

nav > ul > li.active {
    background-color: #EDEDED;
    color: #000000;
    cursor: default;
}

nav > ul > li:hover {
    background-color: #282C2F;
    color: #fff;
}

nav > ul > li.active:hover {
    background-color: #EDEDED;
    color: #000000;
}

#content {
    margin: 1.98% auto auto auto;    /* 20/1010px */
    width: 90%;
}

.box {
    background-color: #fcfcfc;
    display: inline-block;
    width: 100%;
    border-radius: 5px;    /* 5/1010px */
    margin: 0 0 3.96% 0;    /* 40/1010px */
}

.box h1 {
    background-color: #282C2F;
    color: #ffffff;
    margin: 0px -.099% .99% -.099%;    /* -1,10,-1 /1010px */
    padding: .396% .495% .396% 1.1881%;    /* 4,5,5,12 /1010px */
    border-radius: 5px;
}

.box p {
    margin-left: 1.48515%;    /* 15/1010px */
    margin-right: 1.48515%;    /* 15/1010px */
    text-align: justify;
}

.box ul, ol {
    margin-top: 0px;
    padding: .495% 0px 0px 4.7525%;    /* 5,25 /1010px */
}

.box ul li, ol li {
    background: inherit !important;
    padding-bottom: .297%;    /* 3/1010px */
    padding-right: 1.48515%;    /* 15/1010px */
    list-style-type: inherit !important;
    list-style-position: inherit !important;
    list-style-image: inherit !important;
}

ul.links > li {
    margin-bottom: .99%;    /* 10/1010px */
}

table.uj_table {
    border: none;
    width: 100%;
}

.uj_table tr {
    border-style: solid;
    border-width: 0px 0px 1px;
    border-color: #D3D3D3;
}

.uj_table tr:hover  {
    background-color: #fff8dc;
}

.uj_table th {
    text-align: left;
    border-bottom: 1px solid Black;
}

#logos {
    width: 100%;
    vertical-align: bottom;
    display: table-cell;
}

#logos img {
    width: 20%;
    max-width: 210px;
    margin-left: 2%;
    margin-right: 2%;
    vertical-align: bottom;
}

ol.ref
{
    list-style-type: none;
    counter-reset: refCounter;
    margin-top: 0px;
    padding: .495% 0 0 0;    /* 5/1010px */
}
ol.ref li:before
{
    content: "[" counter(refCounter, decimal) "] ";
    counter-increment: refCounter;
    float: left;
    width: 2em;
}

ol.ref li
{
    display: block;
    padding-top: .99%;    /* 10/1010px */
    font-family: 'Open Sans', sans-serif;
}

#sort_pub {
    font-size: 120%;
    text-align: right;
    text-decoration: underline;
    cursor: pointer;
}
#PubByType {
    display: block;
}
#PubByYear {
    display: none;
}

/*********************************************************
    Publication Links
 *********************************************************/
a.urlLink
{
    background: url("../img/url.png") center right no-repeat;
    padding-right: 1.48515%;    /* 15/1010px */
    margin-right: .297%;    /* 3/1010px */
    text-decoration: none;
}
a.pdfLink
{
    background: url("../img/pdf.png") center right no-repeat;
    padding-right: 1.48515%;    /* 15/1010px */
    margin-right: .297%;    /* 3/1010px */
    text-decoration: none;
}
a.pptLink
{
    background: url("../img/ppt.png") center right no-repeat;
    padding-right: 1.48515%;    /* 15/1010px */
    margin-right: .297%;    /* 3/1010px */
    text-decoration: none;
}
span.award
{
    background: url("../img/award.png") center left no-repeat;
    padding-right: 2.47525%;    /* 25/1010px */
    padding-bottom: 1.98%;    /* 20/1010px */
    min-width: 30px;    /* 25/1010px */
    text-decoration: none;
    display: table-cell;
}

/*********************************************************
    LaTeX symbol
 *********************************************************/

.latex sub, .latex sup {
      text-transform: uppercase;
  }

.latex sub {
    vertical-align: -0.5ex;
    margin-left: -0.1667em;
    margin-right: -0.125em;
}

.latex, .latex sub {
    font-size: 1em;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.latex sup {
    font-size: 0.85em;
    vertical-align: 0.15em;
    margin-left: -0.36em;
    margin-right: -0.15em;
}

/*********************************************************
    For smaller screens
 *********************************************************/

@media all and (max-width: 768px) {
    #right_header {
        float: left;
        width: 100%;
        margin-top: 0;
    }
    #diro_logo {
        width: 0;
    }
    #nav_button {
        display: block;
        font-size: 200%;
        text-align: right;
        text-decoration: none;
        margin-right: 1.5%;
        cursor: pointer;
    }
    nav {
        border: none;
    }
    nav ul {
        display: none;
        list-style: none;
    }
    nav ul li {
        display: block;
        margin: 0 auto;
        width: 100%;
        vertical-align: middle;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}